/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.section {
   width: 100%;
   float: left; 
}

.section-fixed {
    width: 90%;
    margin: 0 auto;
    /*margin-left: auto;
    margin-right: auto;
    float: left;*/
}


/* The Percentage-based grid, akin to bootstrap */
.col1, 
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10, 
.col11,
.col12 {
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing:border-box; /* makes padding on percentage based widths inside the alloted 100% */
}
.col12 {
    width: 100%;
}
.col11 {
    width: 91.66667%;
}
.col10 {
    width: 83.33333%;
}
.col9 {
    width: 75%;
}
.col8 {
    width: 66.66667%;
}
.col7 {
    width: 58.33333%;
}
.col6 {
    width: 50%;
}
.col5 {
    width: 41.66667%;
}
.col4 {
    width: 33.33333%;
}
.col3 {
    width: 25%;
}
.col2 {
    width: 16.66667%;
}
.col1 {
    width: 8.33333%;
}


.mar-bottom-small {
  margin-bottom: 2em;
}

.mar-bottom-med {
  margin-bottom: 5em;
}

.mar-bottom-large {
  margin-bottom: 8em;
}

/*.tick-minor {
  fill: #242425;
}
*/

body {
  position: relative;
  background-color: #242525;
}

#graph-page .test-cases {
  /*margin-bottom: 8em;*/
  background: #333333;
  /*padding: 9em 0;*/
  height: 32em;

  position: relative;
}

#graph-page .test-cases.nopad {
  padding: 4em 2em;
}

#graph-page .test-cases h2 {
  margin-bottom: 1.5em;
}

#graph-page .test-cases .cases {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#graph-page .cases .case {
  transition: all 0.5s ease;
  border: .25em solid white;
  /*height: 14em;*/
  margin: 0 auto;
  width: 60%;
  /*padding-bottom: 60%;*/
  cursor: pointer;
  
}

#graph-page .cases .case:hover {
  border: .25em solid #42D134;
  color: #42D134 ;
}

#graph-page .cases .case h3{
  transition: all 0.5s ease; ;
}

#graph-page .cases .case:hover h3{
  color: #42D134 ;
}
 
#graph-page .test-cases  .cases .case1 {
  margin-right: 1em;
}

#graph-page .test-cases  .cases .case2 {
  /*margin: 0 1em;*/
}

#graph-page .test-cases .cases  .case3 {
  margin-left: 1em;
}

a {
  text-decoration: none;
  color: #8CC2F7;
}


#graph-page .case-descriptions .case {
  display: none;
  padding: 1.5em 2em;
}
#graph-page .case-descriptions .case .back-arrow {
  padding: .75em .5em .5em .5em;
  background-color: #111111;
  width: 4em;
  cursor: pointer;
}

#graph-page .case-descriptions .case .back-arrow:hover p, 
#graph-page .case-descriptions .case .back-arrow:hover i {
  transition: all 0.5s ease;
  color: #42D134 ;
}

#graph-page .case-descriptions .case .back-arrow i {
  padding-right: .5em;
}

#graph-page .case-descriptions .case .back-arrow p {
  margin: 0;
}

#graph-page .case-descriptions .case1 .col6{
  width: 45%;
  margin-right: 1.5em;
}

#graph-page .case-descriptions .col3.try{
  text-align: center;
  /*padding: 0 1em;*/
  margin-top: 2em;
  cursor: pointer;

}

#graph-page .case-descriptions .case3 .col3.try{
  margin-top: 5em;

}

#graph-page .case-descriptions .col3.try:hover {
  transition: all 0.5s ease;
}

#graph-page .case-descriptions .col3.try p{
  margin: 0;
  padding: 0;
}

#graph-page .case-descriptions .col3.try h3{
  font-size: 3em;
  margin: 0;
  padding: 0;
}

#graph-page .case-descriptions .col3.try h4{
  text-transform: uppercase;
  color: white;
  border: .15em solid white;
  padding: .5em;
  width: 60%;
  margin: 1em auto;
}

#graph-page .case-descriptions .col3.try:hover h4 {
  transition: all 0.5s ease;
  color: #42D134;
  border: .15em solid #42D134;
}



#graph-page h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
  margin: 0;
}

#graph-page .cases .case h3{
  text-align: center;
  padding: 2em 1em;
  margin: 0;
}

#graph-page h3{
  font-weight: 500;
  font-size: 1.25em;
  color: white;
}




#graph {
  float: left;
  position: relative;
}

#graph path {
  stroke-width: 2;
  fill: none;

}

#graph path.humans{
  stroke: blue;
}
#graph path.zombies{
  stroke: #21D011;
}

#graph-page .key p{
  padding: 0 1em;
  margin: 0;
  color: white;
}


#graph-page .key .blue {
  border: solid blue .2em;
  padding: .5em 1em;
  color: white;

}

#graph-page .key .green {
  border: solid #21D011 .2em;
  padding: .5em 1em;
  margin-right: 1em;

}


#graph-page {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  float: left;
  display: block;
  position: relative;
}

#graph-page h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: white;
  margin: 0;
}

#graph-page .info {
  float: right;
  padding: 1em;
  color: #777777;
  font-size: 2em;
  cursor: pointer;
}

#graph-page .info .pulldown {
  display: none;
  background-color: #777777;
  padding: 1em;
  width: 8em;
  float: right;
  position: absolute;
  top: 2.5em;
  right: 1em;
  z-index: 10000;
}

#graph-page .info .pulldown p {
  font-size: 1rem;
}

#graph-page .info:hover{
  transition: all 0.5s ease;
  color: white;
}

#graph-page .info.active {
  color: white;
}

#graph-page .intro {
  margin: 2em 0;
}

#graph-page .intro p {
  /*margin-bottom: 1em;*/
  font-size: 1em;
}



#graph .axis {
  shape-rendering: crispEdges;
}
#graph .x.axis line {
  stroke: #101011;
}
#graph .x.axis .minor {
  stroke-opacity: .5;
}
#graph .x.axis path {
  display: none;
}
#graph .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

form {
  margin: 0;
}

p.top {
  margin: 0;
}

#graph-page .input-fields {
  display: inline-block;
  position: relative;
  height: 42em;
  width: 20em;
  float: left;  
  background: #333333;

}

#graph-page .box{
  padding: 1em 0;
  height: 1em;
}


#graph-page .container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#graph-page .input-fields .input-line {
  display: inline-block;
  width: 80%;
  float: left;
  margin: 0 1.2em;

}

input[type='number'] {
  padding: .5em;
  width: 6em;
  border: none;
  border-radius: 2px;
  background-color: #555555;
  color: white;
}

input[type='number']:out-of-range { 
  background-color: #FF9F9A; 
}

input[type='number']#it {
  width: 10em;
}

#graph-page .container-1 input[type="range"]{
  margin-right: .75em;
  margin-top: .5em;
  width: 15em;
  border: none;
  font-size: 10pt;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

.slider {
 
  width:20em;
  padding: .5em 0;
}



output {
  margin-top:.25em;
  color: white;
  font-size: 1em;
  background: #CCC;
  height: 1em;
  padding: .25em .4em .1em .4em;
  border-right: 1px solid white;
  border-left: 1px solid white;
  font: lato;
}


#graph-page .container-1 input#submit{
  color: white;
  background-color: black;
  margin-top: 2em;
  width: 10em;
  padding: .5em 1em;
  border: none;
  border-radius: 2px;
  font-family: 'Alegreya Sans';
  font-size: 1em;
}




input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #555555;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #555555;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #555555;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

#graph-page #page {
    margin-top: 0;
    padding: 0;
    background-color: white;
}

#graph-page .container-1 .icon{
  position: absolute;
  margin: .4em 0 0 .5em;
  z-index: 1;
  color: #4f5b66;
}

#graph-page  p {
  color: white;
}


#graph-page .input-line p {
  margin: 1em 0 0 0 ;
  color: #D1D1D1;
  font-size: .85em;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.v-mathmodel {
  
}

.v-mathmodel .eq  {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  height: 8em;
  position: relative;
}

.v-mathmodel .eq div {
  /*position: absolute;*/
  top: 50%;
  transform: translateY(-50%);
}

.section.v-mathmodel {
  margin: 3em 0 4em 0;
  background: #333333;
  padding: 2em 0;
}

#graph-page .variables p{
  margin-right: 1em;
}

#graph-page .variables {
  margin-bottom: 3em;
}

#graph-page .variables .vars p{
  color: #42D134;
}




.diff-eq .section-fixed{
  width: 65%;
  margin: 0 auto;
  padding: 2em 0;
  height: 5em;
  margin-bottom: 5em;
}

.section.diff-eq {
  background: #333333;
  margin-bottom: 4em;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen and (max-width: 700px) {

html, body {
    font-size: 18px;
}

.col1, 
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10, 
.col11,
.col12 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}


.section-fixed {
    width: 80%;
}


#graph-page .test-cases {
  padding-top: 3em;
}

#graph-page .test-cases .cases .case {
  margin: 0 auto 1em auto;
}

/*#graph-page .test-cases .cases .case.case1  {
  margin:;
}

#graph-page .test-cases .cases .case.case2  {
  margin-left: 0;
}*/


}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


