/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.section {
   width: 100%;
   float: left; 
}

.section-fixed {
    width: 90%;
    margin: 0 auto;
    /*margin-left: auto;
    margin-right: auto;
    float: left;*/
}

/* The Percentage-based grid, akin to bootstrap */
.col1, 
.col2, 
.col3, 
.col4, 
.col5, 
.col6, 
.col7, 
.col8, 
.col9, 
.col10, 
.col11,
.col12 {
    position: relative;
    min-height: 1px;
    float: left;
    box-sizing:border-box; /* makes padding on percentage based widths inside the alloted 100% */
}
.col12 {
    width: 100%;
}
.col11 {
    width: 91.66667%;
}
.col10 {
    width: 83.33333%;
}
.col9 {
    width: 75%;
}
.col8 {
    width: 66.66667%;
}
.col7 {
    width: 58.33333%;
}
.col6 {
    width: 50%;
}
.col5 {
    width: 41.66667%;
}
.col4 {
    width: 33.33333%;
}
.col3 {
    width: 25%;
}
.col2 {
    width: 16.66667%;
}
.col1 {
    width: 8.33333%;
}


body {
  position: relative;
  background-color: #242525;
}

#graph {
  float: left;
  position: relative;
}

#graph path {
  stroke-width: 2;
  fill: none;

}

#graph path.humans{
  stroke: blue;
}
#graph path.zombies{
  stroke: #21D011;
}



/*#graph text{
  color: white;

}*/

#graph-page {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  float: left;
  display: block;
  position: relative;
  /*text-transform: uppercase;*/
}

#graph-page h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: white;
  margin: 0;
}

#graph-page .intro {
  margin: 5em 0 10em 0;
}

#graph-page .intro p {
  /*margin-bottom: 1em;*/
  font-size: 1em;
}



#graph .axis {
  shape-rendering: crispEdges;
}
#graph .x.axis line {
  stroke: gray;
}
#graph .x.axis .minor {
  stroke-opacity: .5;
}
#graph .x.axis path {
  display: none;
}
#graph .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

form {
  margin: 0;
}

p.top {
  margin: 0;
}

#graph-page .input-fields {
  display: inline-block;
  position: relative;
  height: 28em;
  width: 10%;
  float: left;

}

#graph-page .box{
  padding: 1em 0;
  height: 1em;
}

#graph-page .toolbar {
    /*border-bottom: .1em solid #ccc;*/
}

#graph-page .container-1{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#graph-page .input-fields .input-line {
  display: inline-block;
  width: 100%;
  float: left;
  margin: 0 1em;
}

#graph-page .container-1 input{
  width: 200%;
  height: 2.25em;
  background: #EBEBEB;
  border: none;
  font-size: 10pt;
  /*float: left;*/
  color: #63717f;
  /*padding-left: 2.5em;*/
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
}

#graph-page .container-1 input[type=range]{
  height: 1em;
  margin-top: .5em;
}

output {
  color: white;
  margin-top: .5em;
}

#graph-page i {
  color: white;
}


#graph-page .container-1 input#submit{
  color: white;
  background-color: black;
  margin-top: 2em;
}

#graph-page #page {
    margin-top: 0;
    padding: 0;
    background-color: white;
}

#graph-page .container-1 .icon{
  position: absolute;
  margin: .4em 0 0 .5em;
  z-index: 1;
  color: #4f5b66;
}

#graph-page p {
  margin: 1em 0 .1em 0 ;
  color: white;
  font-size: .85em;
}

.red {
  color: red;
}

.blue {
  color: blue;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


